@media (max-width: 480px) {
    .filter-container {
        width: 60%;
        height: auto;
        top: 47%;
        left: 35%;
        padding: 20px 10px;
        /* flex-direction: column; */
        /* gap: 20px; */
    }

    .vertical-line {
        width: 1px;
        height: 120px;
    }

    .type {
        align-items: flex-start;
    }

    .radio-btns .radio-1 span {
        font-size: 0.875rem;
        margin-left: 0;
    }

    .radio-btns .radio-1 input {
        transform: scale(1.5);
        margin-right: 10px;
    }

    .type label {
        font-size: 0.875rem;
    }

    .radio-btns {
        gap: 15px;
    }
}