@media (max-width: 480px) {
    .ellipsis {
        position: fixed;
        width: 100%; 
        top: 500%;
        bottom: 0;
        left: 0;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        border-radius: 0;
    }

    .ellipsis-btn button {
        font-size: 1rem;
        padding: 10px;
    }
}